:root {
    --white: #fff;
    --background: #F2F3F5;
    --gray-line: #DCDDE0;
    --text: #666;
    --text-highlight: #B3B9FF;
    --title: #2E384D;
    --dark: #0a0a0c;
    --darkess: #1e1f2bf8;
    --red: #f32648;
    --green: #4CD62B;
    --blue: #5965e0;
    --blue-medium: #5964e04f;
    --blue-light: #5964e01a;
    --blue-dark: #4953B8;
    --blue-twitter: #2AA9E0;
    --ranking-user: #697af849;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--dark) !important; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--blue); 
    border-radius: 5px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blue);
    height: auto;
}

header h1 {
    text-align: center;
    font-weight: 'bold';
    margin-top: 2%;
}

#paginas {
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin-top: 2%;
}

#paginas a {
    width: 35%;
    text-align: center;
    text-decoration: none;
    color: var(--blue);
    font-weight: bold;
    cursor: pointer;
}

#paginas a:nth-child(2) {
    border-bottom: 2px solid var(--white);
}

#paginas a:hover {
    border-bottom: 2px solid var(--white);
}

#form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#textarea-texto-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 2%;
}

#textarea-texto-container button {
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: 0.95rem;
    color: var(--white);
    background-color: var(--blue);
    transition: background-color 300ms;
    border-radius: 3px;
    border: 0;
    padding: 0 5px;
}

#botoes-calcular-frequencia {
    width: 12%;
    margin-left: 2%;
}

#botoes-calcular-frequencia button:nth-child(1) {
    margin-bottom: 5%;
}

#textarea-texto-container button:hover {
    background-color: var(--blue-dark);
    cursor: pointer;
}

#textarea-texto-origem-container {
    display: flex;
    flex-direction: column;
}

#textarea-texto-origem-container label {
    color: var(--white);
}

#textarea-texto-origem-container textarea {
    padding: 10px;
    color: var(--white);
    font-weight: bold;
    background-color: var(--title);
    border: none;
    resize: none;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: justify;
}

#campos-chave-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

#tamanhos-chave-provaveis, #dica {
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

#textarea-texto-origem-container textarea:focus, #textarea-texto-container button {
    outline-style: none;
}

#textarea-texto-origem::-webkit-scrollbar, #textarea-texto-destino::-webkit-scrollbar {
    width: 10px;
}

#textarea-texto-origem::-webkit-scrollbar-thumb, #textarea-texto-destino::-webkit-scrollbar-thumb {
    background-color: var(--blue); 
    border-radius: 5px;
}

@media only screen and (max-width: 1350px) {
    #textarea-texto-origem-container textarea {
        width: 30em;
        height: 25em;
    }
}

@media only screen and (max-width: 500px) {
    #input-chave-container input {
        width: 90%;
    }
}


#tabela-frequencia-ingles, #tabela-frequencia-portugues, #tabela-frequencia-selecionada {
    width: 80%;
    height: 100px;
    text-align: center;
    background-color: var(--dark) !important; 
    margin: auto;
}

#taxa-frequencia-ingles, #taxa-frequencia-portugues, #taxa-frequencia-selecionada {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#letras-frequencia-ingles, #letras-frequencia-portugues, #letras-frequencia-selecionada {
    display: flex;
    justify-content: space-between;
}

.barras{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    height: 145px;
    border: 1px solid var(--blue-dark);
    width: 5%;
}

.barras span {
    font-size: 0.8rem;
}

.barra {
    background: rgb(30, 120, 253);
    margin: 0 auto;
    width: 30px;
    text-align: center;
}

.letra {
    text-align: center;
    width: 5%;
    color: white;
    border: 1px solid var(--blue-dark);
}

h4 {
    font-weight: bold;
    color: #fff;
    text-align: center;
}

#tamanhos-chaves, .tamanho-chave, #campos-chave, .campo-chave {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tamanhos-chaves, #campos-chave {
    margin-top: 20px;
}

.tamanho-chave, .campo-chave {
    width: 50px;
    height: 50px;
    background-color: var(--blue);
    margin-right: 5px;
    border: 5px solid var(--blue-dark);
    color: #fff;
}

.tamanho-chave:hover, .campo-chave:hover {
    cursor: pointer;
}

#container-tabela {
    width: 100%;
    display: flex;
    align-items: center;
    
}

#seta-esquerda, #seta-direita {
    cursor: pointer;
}

#seta-esquerda {
    transform: rotate(180deg);
    margin-left: 50px
}

#seta-direita {
    margin-right: 50px
}