:root {
    --white: #fff;
    --background: #F2F3F5;
    --gray-line: #DCDDE0;
    --text: #666;
    --text-highlight: #B3B9FF;
    --title: #2E384D;
    --dark: #0a0a0c;
    --darkess: #1e1f2bf8;
    --red: #f32648;
    --green: #4CD62B;
    --blue: #5965E0;
    --blue-medium: #5964e04f;
    --blue-light: #5964e01a;
    --blue-dark: #4953B8;
    --blue-twitter: #2AA9E0;
    --ranking-user: #697af849;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--dark) !important; 
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blue);
    height: auto;
}

header h1 {
    text-align: center;
    font-weight: 'bold';
    margin-top: 2%;
}

#paginas {
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin-top: 2%;
}

#paginas a {
    width: 35%;
    text-align: center;
    text-decoration: none;
    color: var(--blue);
    font-weight: bold;
}

#paginas a:nth-child(2) {
    border-bottom: 2px solid var(--white);
}

#paginas a:hover {
    border-bottom: 2px solid var(--white);
}

#form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#textarea-texto-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 2%;
}

#textarea-texto-container button {
    width: 12%;
    height: 40px;
    font-weight: bold;
    font-size: 0.95rem;
    color: var(--white);
    background-color: var(--blue);
    transition: background-color 300ms;
    border: none;
    margin-left: 2%;
}

#textarea-texto-container button:hover {
    background-color: var(--blue-dark);
    cursor: pointer;
}

#textarea-texto-origem-container {
    display: flex;
    flex-direction: column;
}

#textarea-texto-origem-container label {
    color: var(--white);
}

#textarea-texto-origem-container textarea {
    padding: 10px;
    color: var(--white);
    font-weight: bold;
    background-color: var(--title);
    border: none;
    resize: none;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: justify;
}

#textarea-texto-origem-container textarea:focus, #textarea-texto-container button {
    outline-style: none;
}

@media only screen and (max-width: 1350px) {
    #textarea-texto-origem-container textarea {
        width: 30em;
        height: 25em;
    }
}

@media only screen and (max-width: 1040px) {
    #input-chave-container input {
        width: 40%;
    }
    
    #textarea-texto-container {
        flex-direction: column;
    }
    
    #textarea-texto-origem-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #botoes-container {
        margin-top: 10%;
    }

    #textarea-texto-origem-container textarea {
        width: 90%;
        height: 100%;
    }
}

@media only screen and (max-width: 500px) {
    #input-chave-container input {
        width: 90%;
    }
}


.bar {
    background: rgb(30, 120, 253);
    margin: 0px auto;
    width: 15px;
    text-align: center;
    border: 2px solid var(--blue-dark);
    
}

.table_body {
    height: 100px;
    text-align: center;
    background-color: var(--dark) !important; 
    margin: auto;
    border: 2px solid var(--blue-dark);
}

.frequencia_barra{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid var(--blue-dark);
}

.bars{
    display: flex;
    flex-direction: column;
    color: white;
}
.colunas {
    display: flex;
    justify-content: space-between;
    
}

.alphabet{
    text-align: center;
    width: 60px;
    color: white;
    border: 2px solid var(--blue-dark);

}